<configuration>
    <appender name="OPERLOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>log/sqlchecker.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>Integration-hist.%d{yyyy-MM-dd}.log.gz</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{ISO8601} %msg%n</pattern>
        </encoder>
    </appender>
    <logger name="com.twitter.finagle" level="INFO">
        <appender-ref ref="OPERLOG" />
    </logger>
    <root level="info">
        <appender-ref ref="OPERLOG" />
    </root>
</configuration>
